<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login | Code-X</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/login.js}" defer></script>
</head>
<body>
<div class="login-container">
    <h2>Welcome to <span class="brand">Code-X</span></h2>
    <form action="#" method="post" th:action="@{/login}" id="loginForm">
        <input type="text" name="username" placeholder="Username" required />
        <input type="password" name="password" placeholder="Password" required />
        <button type="submit">Login</button>
        <p class="link">Don't have an account? <a th:href="@{/register}">Register</a></p>
        <p class="error-message" id="error-message"></p>
    </form>
</div>
</body>
</html>
