<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Paper Detail - HongMing Academic Map</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" th:href="@{/apple-touch-icon.png}">
    
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}">
    <link rel="stylesheet" th:href="@{/css/fontAwesome.css}">
    <link rel="stylesheet" th:href="@{/css/light-box.css}">
    <link rel="stylesheet" th:href="@{/css/owl-carousel.css}">
    <link rel="stylesheet" th:href="@{/css/templatemo-style.css}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    
    <script th:src="@{/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js}"></script>
</head>
<body>
    <!-- 侧边栏导航，与其他页面保持一致 -->
    <div class="sidebar-navigation hidden-sm hidden-xs">
        <div class="logo">
            <a href="#">HongMing<em> Academic Map</em></a>
        </div>
        <nav>
            <ul>
                <li>
                    <a th:href="@{/index}">
                        <span class="rect"></span>
                        <span class="circle"></span>
                        Back
                    </a>
                </li>
                <li>
                    <form th:action="@{/logout}" method="post" style="display:inline;">
                        <button type="submit"
                                class="btn btn-link"
                                style="color: white; padding: 0; border: none; background: none; text-decoration: none;">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Logout
                        </button>
                    </form>
                </li>
            </ul>
        </nav>
    </div>

    <section class="content-section" style="margin-left: 220px; padding: 40px;">
        <div class="container">
            <div class="section-heading">
                <h1 th:text="${paper.title}">Paper Title</h1>
                <p>Details of the paper</p>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th>Author</th>
                            <td th:text="${paper.author}">Author</td>
                        </tr>
                        <tr>
                            <th>Abstract</th>
                            <td th:text="${paper.abstractText}">Abstract</td>
                        </tr>
                    </tbody>
                </table>
                <a th:href="@{'/download/' + ${paper.id}}" class="btn btn-sm btn-primary">Download</a>
                <form th:action="@{/delete/{id}(id=${paper.id})}" method="post" th:if="${paper.uploader.username == #authentication.name}">
                    <input type="hidden" name="keyword" th:value="${param.keyword != null}? ${param.keyword[0]} : ''"/>
                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script th:src="@{/js/vendor/bootstrap.min.js}"></script>
    <script th:src="@{/js/plugins.js}"></script>
    <script th:src="@{/js/main.js}"></script>
</body>
</html>