<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Search Results - HongMing Academic Map</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" th:href="@{/apple-touch-icon.png}">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}">
    <link rel="stylesheet" th:href="@{/css/fontAwesome.css}">
    <link rel="stylesheet" th:href="@{/css/light-box.css}">
    <link rel="stylesheet" th:href="@{/css/owl-carousel.css}">
    <link rel="stylesheet" th:href="@{/css/templatemo-style.css}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

    <script th:src="@{/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js}"></script>
</head>
<body>

<header class="nav-down responsive-nav hidden-lg hidden-md">
    <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <div id="main-nav" class="collapse navbar-collapse">
        <nav>
            <ul class="nav navbar-nav">
                <li><a th:href="@{/index}">Home</a></li>
                <li><a th:href="@{/logout}">Logout</a></li>
            </ul>
        </nav>
    </div>
</header>

<div class="sidebar-navigation hidden-sm hidden-xs">
    <div class="logo">
        <a href="#">HongMing<em>Academic Map</em></a>
    </div>
    <nav>
        <ul>
            <li>
                <a th:href="@{/index}">
                    <span class="rect"></span>
                    <span class="circle"></span>
                    Back
                </a>
            </li>
            <li>
                <form th:action="@{/logout}" method="post" style="display:inline;">
                    <button type="submit"
                            class="btn btn-link"
                            style="color: white; padding: 0; border: none; background: none; text-decoration: none;">
                        <span class="rect"></span>
                        <span class="circle"></span>
                        Logout
                    </button>
                </form>
            </li>
        </ul>
    </nav>
</div>

<section class="content-section" style="margin-left: 220px; padding: 40px;">
    <div class="container">
        <div class="section-heading">
            <h1>Search Results</h1>
            <p>The following papers match your search criteria:</p>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Abstract</th>
                        <th>Author</th>
                        <th>Learn More</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="paper : ${papers}">
                        <td>
                            <a th:href="@{'/paper/detail/' + ${paper.id}}" th:text="${paper.title}">Paper Title</a>
                        </td>
                        <td th:text="${paper.author}">Author</td>
                        <td th:text="${paper.abstractText}">Abstract</td>
                        <td>
                            <a th:href="@{'/paper/detail/' + ${paper.id}}" class="btn btn-sm btn-info">Learn More</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

</body>
</html>